
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

:root {
  --blue: #406fd9;
  --light-blue: rgba(64, 110, 217, 0.7);
  --red: #ff0000;
  --dark-blue: #2b54b1;
  --box-shadow: #dcdcdc;
  --grey-1: #fcfcfc;
  --grey-2: #eeeeee;
  --grey-3: #f3f3f3;
  --grey-4: #363636;
}

body {
  background-color: var(--grey-1);
  min-height: calc(100vh - 129px);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

ul li {
  list-style: none;
}

header {
  color: var(--blue);
  background-color: white;
  box-shadow: 0px 1px 1px var(--blue);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 59px;
  padding: .5rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 2;
}

.logo img {
  position: relative;
  top: 2px;
  width: 180px;
}

.desktop-nav li {
  padding: .3rem;
  margin: .3rem;
  cursor: pointer;
  font-weight: bold;
}

.mobile-nav > ul {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  cursor: pointer;
  padding: .5rem;
  border-radius: 3px;
}

.mobile-nav ul:hover {
  outline: 1.5px solid var(--blue);
}

.mobile-nav li {
  background-color: var(--blue);
  width: 30px;
  height: 2px;
  border-radius: 5px;
}

.mobile-nav-extended {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100%;
  height: 100vh;
  background-color: white;
  transition: 500ms ease-in-out;
  box-shadow: 0px 0px 2px var(--blue);
}

.mobile-nav-extended.show {
  right: 0;
}

.mobile-nav-extended ul {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-right: 40px;
  padding: 1.5rem;
  justify-content: space-between;
  gap: 2rem;
}

.mobile-nav-extended li {
  cursor: pointer;
  font-weight: bold;
}

.nav-close-button {
  position: absolute;
  top: 3%;
  right: 10%;
  cursor: pointer;
  width: 35px;
  height: 35px;
  transition: 200ms ease-in-out;
  border-radius: 5px;
  background-color: var(--blue);
}

.nav-close-button:hover {
  background-color: white;
}

.nav-close-button:hover div {
  background-color: var(--blue);
}

.bar-1, .bar-2 {
  top: calc(50% - 1.5px);
  left: 13%;
  position: absolute;
  background-color: white;
  height: 2.5px;
  width: 25px;
  transition: 200ms ease-in-out;
  border-radius: 5px;
}

.bar-1 {
  transform: rotate(45deg);
}

.bar-2 {
  transform: rotate(-45deg);
}

.dim-cover {
  position: fixed;
  transition: 300ms ease-in-out;
  background-color: black;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
}

.dim-cover.cover {
  opacity: 0.2;
  left: 0;
}

.mobile-nav {
  display: none;
}

.desktop-nav {
  display: block;
}

@media (max-width: 700px) {
  .mobile-nav {
    display: block;
  }
  .desktop-nav {
    display: none;
  }
}

.box-shadow {
  box-shadow: 4px 4px 10px var(--box-shadow);
}

.pop-up-message {
  background-color: var(--light-blue);
  padding: 1rem 1rem .5rem;
  position: absolute;
  top: -5%;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  color: white;
  z-index: 4;
  transition: 600ms ease-in-out;
  width: max-content;
  z-index: 4;
  box-shadow: 1px 1px 2px var(--box-shadow);
}

.pop-up-message.show {
  top: -.5rem;
  opacity: 1;
}

.gallery {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat( auto-fit, 200px );
  gap: 3rem;

  height: 100%;

  padding: 3rem 1rem;
  margin-bottom: 75px;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.loader {
  border: 10px solid var(--grey-3);
  border-top: 10px solid var(--blue);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  } 
  100% {
    transform: rotate(360deg);
  }
}

.margin-top {
  margin-top: 54px;
}

.book-container {
  background-color: white;
  width: 100%;
  padding: 20px;
  border-radius: 3px;

  text-align: center;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.book-cover {
  width: 160px;
  height: 200px;
}

.cart-items > *, .receipt > * {
  cursor: default;
}

.btn {
  color: white;
  background-color: var(--blue);
  border: none;
  padding: .5rem 1rem;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
}

.book-title {
  font-size: 1rem;
}

.btn:hover {
  background-color: var(--dark-blue);
}

.rating-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating {
  font-size: .8rem;
  padding-left: .1rem;
}

/* User Profile */
.profile {
  padding: .8rem 1rem;
  border-bottom: 1px solid var(--blue);
  display: flex;
  align-items: center;
  gap: .5rem;
}

.profile-icon {
  width: fit-content;
  letter-spacing: 1px;
  padding: .5rem;
  border-radius: 50%;
  color: white;
  background-color: var(--blue);
}

.profile p {
  margin: .3rem;
  color: var(--dark-blue);
  font-weight: bold;
}

.italic {
  font-style: italic;
  color: var(--grey-4);
}

/* Cart CSS */
.cart {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;

  margin: 5rem 3rem 6rem;
}

@media (max-width: 400px) {
  .cart {
    margin: 5rem 1rem 6rem;
  }
}

.err-message {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);

  font-size: 2rem;
  font-style: italic;
  color: grey;
}

.cart-item-container {
  max-height: 60vh;
  min-height: 100px;
  overflow-y: auto;
  position: relative;
  box-shadow: inset 0 0 4px var(--box-shadow);
  padding: .3rem;
}

@media (max-width: 700px) {
  .cart {
      grid-template-columns: 1fr;
  }
  .cart-item-container {
      max-height: none;
      overflow: visible;
  }
}

.cart-item-container {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.cart-item-container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.cart-items .book-cover {
  width: 100px;
  height: 125px;
}

.cart-items {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  padding: 1rem;

  border-top: .5px solid var(--blue);
}

.cart-items:last-of-type {
  border-bottom: .5px solid var(--blue);
}

.cart-items .trash-btn {
  border: 1px solid var(--red);
  background-color: transparent;
  width: fit-content;
  padding: .3rem;
  border-radius: 2px;
  cursor: pointer;
}

.cart-items .trash-btn:hover {
  background-color: rgba(251, 221, 221, 0.422);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.receipt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  min-width: 219px;
  height: fit-content;

  border: 1px solid var(--blue);
}

.receipt .right {
  font-size: 1.1rem;
  float: right;
  margin-left: 2rem;
}

/* Sign In CSS */
.signin-container {
  max-width: 600px;
  margin: 5rem auto 6rem;
  padding: 1rem 4rem;
  border: 1px solid var(--blue);
  border-radius: 3px;
}

@media (max-width: 600px) {
  .signin-container {
    padding: 3rem 2rem;
    border: none;
    box-shadow: none;
  }
}

.signin-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.signin-container form > * {
  margin: 1.1rem 0;
}

.signin-container h2 {
  color: var(--blue);
  font-size: 2.5rem;
  cursor: default;
}

.signin-container .overflowContainer {
  overflow-y: hidden;
  margin: 0;
  height: 29px;
}

.warning {
  color: red;
  padding-bottom: .3rem;
  text-decoration: underline;
  align-items: center;
  display: flex;
  position: relative;
  top: 100%;  
  transition: 300ms ease-in-out;
}

.warning.show {
  top: 0;
}

.show-password {
  position: absolute;
  top: 10%;
  right: 0%;
  cursor: pointer;
}

.signin-container input {
  width: 100%;
  padding: .3rem .2rem;
  font-size: 1.005rem;
  border: none;
  border-bottom: 1px solid var(--blue);
  position: relative;
}

.signin-container label {
  position: relative;
}

.signin-container .placeholder {
  position: absolute;
  font-size: 1.1rem;
  color: var(--blue);
  top: -40%;
  opacity: 0;
  transition: 200ms ease-out;
}

.placeholder.show {
 top: -60%;
 opacity: 1;
}

.signin-container button {
  padding: .5rem 2rem;
  width: max-content;
  margin: .5rem auto;
  font-size: 1.2rem;
}


.signin-container input:focus {
  outline: none;
}

.signin-container p {
  color: var(--blue);
  text-decoration: underline;
  font-weight: bold;
}

.signin-container p:hover {
  color: var(--dark-blue)
}


/* Admin */
.admin {
  margin: 5rem 0 6rem;
}

img.book-cover-container {
  max-width: 160px;
  max-height: 200px;
  image-rendering: auto;
  border: 1px solid var(--box-shadow);
}

.grid-container input.err {
  border: 1px solid red;
}

.create-new-book {
  position: relative;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  width: max-content;
  margin: auto;
  padding-top: 40px;
  border: 1px solid var(--blue);
  box-shadow: 2px 2px 4px var(--box-shadow);
  margin-top: 1rem;
}

.red-asterisk {
  color: red;
  transition: 200ms;
}

.create-new-book .warning {
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0;
  transition: 200ms ease-in-out;
}

.create-new-book .warning.show {
  opacity: 1;
  top: .8rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
}

@media (max-width: 500px) {
  .create-new-book {
    flex-direction: column;
  }
}

.admin .grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: .5rem;
}

.description-edit {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 200px;
}

.description-edit div {
  display: flex;
  align-items: center;
}

.description-edit input { 
  padding: .3rem;
  width: 100%;

  border: none;
  border: 1px solid var(--blue);
}

.description-edit input:focus {
  outline: none;
  border: 1px solid var(--blue);
}

.btn.small {
  font-size: .8rem;
}

.btn.clear {
  border: 1px solid var(--blue);
  background-color: transparent;
  color: var(--blue);
  transition: 200ms ease-in-out;
}

.btn.clear:hover {
  background-color: var(--blue);
  color: white;
}

.btn.clear:hover > .red-asterisk {
  color: transparent
}

.btn.red {
  background-color: rgb(193, 14, 14);
}

#input-file {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.btn.label {
  position: relative;
  text-align: center;
}



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  background-color: var(--grey-2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 0px 2px var(--blue);
}

.social a {
  padding: .3rem;
  margin: 0 .3rem;
}

.social {
  margin-bottom: .5rem;
}

.creator {
  font-size: .9rem;
  font-style: italic;
}


