.Home {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 60vh;
}

.instructions {
    margin: auto
}

.movieOne,
.movieTwo {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    width: 40%;


}

.movieTitleButton {
    width: 100%;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    &:hover {
        transform: scale(1.25);
        font-weight: bold
    }
}


.moviesContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.score {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.Hidden {
    display: none
}

.Centered {
    display: flex;
    text-align: start;
    font-size: .8rem;
}

.wrong {
    color: red;
}

.cross {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}