@font-face {
    font-family: "hollywood";
    src: url("../../Assets/MovieTimes-pg61.ttf") format('truetype');
}


.Header {
    font-family: 'hollywood', sans-serif;
    display: flex;
    margin: auto;
    justify-content: center;
    font-size: 1rem;
    height: 10vh;
}